@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --general-sides-padding: 3rem;

    --gray5: #B58FE7;
    --gray4: #D0A2F7;
    --gray3: #DCBFFF;
    --gray2: #E5D4FF;
    --gray1: #F1EAFF;

    --work-softer: #8a9ecf;
    --work-soft: #4c7ecf;
    --work: #1a53ad;
    --work-glow: #87b5ff;
    --study-softer: #c87aff;
    --study-soft: #9f4bdb;
    --study: #590696;
    --study-glow: #c400ff;
    --personal-softer: #ff9f9f;
    --personal-soft: #fa55bc;
    --personal: #C70A80;
    --personal-glow: #ff00e6;
    --miscelanious-softer: #f7d97f;
    --miscelanious-soft: #edcc4a;
    --miscelanious: #bd9702;
    --miscelanious-glow: #ffea00;
    --all: #a2a2a2;
    --all-glow: #e2e2e2;

    --confirm: #19ab09;
    --confirm-glow: #00ff00;
    --eliminate: #ab0909;
    --eliminate-glow: #ff0000;
    --edit: #d6760f;
    --edit-glow: #ff9d00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input {
    outline: none;
    border: none;
    background: none;
    width: 14rem;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}


body {
    background-color: var(--gray4);
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.greetings {
    background-color: var(--gray2);
    padding-left: var(--general-sides-padding);
    padding-right: var(--general-sides-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5rem;
    width: auto;
    box-shadow: var(--gray5) 0px 0px 10px 0px;
}

.create-todo {
    padding: 3rem 3rem 0.2rem 3rem;
    min-height: 35rem;

}

.todo-form {
    width: auto;
}

.input-container {
    background-color: var(--gray2);
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.4rem;
}

.input-container h4 {
    margin-bottom: 0.7rem;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.option {
    background-color: var(--gray2);
    margin: 0.5rem;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1rem;
    border-radius: 0.4rem;
}

.add-wrap {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    border-top: var(--gray2) 3px solid;
    padding-top: 2rem;
    padding-left: var(--general-sides-padding);
    padding-right: var(--general-sides-padding);
    padding-bottom: 4rem;
    min-height: 25rem;
}

.button-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    min-height: 3rem;
}

.logout,
.delete {
    background-color: var(--eliminate);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.logout:hover,
.delete:hover {
    background-color: var(--eliminate-glow);
    box-shadow: 0 0 0.5rem var(--eliminate-glow);
    scale: 1.1;
}

.check {
    background-color: var(--confirm);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.check:hover {
    background-color: var(--confirm-glow);
    box-shadow: 0 0 0.5rem var(--confirm-glow);
    scale: 1.1;
}

.edit {
    background-color: var(--edit);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.edit:hover {
    background-color: var(--edit-glow);
    box-shadow: 0 0 0.5rem var(--edit-glow);
    scale: 1.1;
}

#work-button {
    background-color: var(--work);
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#work-button:hover {
    background-color: var(--work-glow);
    box-shadow: 0 0 0.5rem var(--work-glow);
}

#study-button {
    background-color: var(--study);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#study-button:hover {
    background-color: var(--study-glow);
    box-shadow: 0 0 0.5rem var(--study-glow);
}

#personal-button {
    background-color: var(--personal);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#personal-button:hover {
    background-color: var(--personal-glow);
    box-shadow: 0 0 0.5rem var(--personal-glow);
}

#miscelanious-button {
    background-color: var(--miscelanious);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#miscelanious-button:hover {
    background-color: var(--miscelanious-glow);
    box-shadow: 0 0 0.5rem var(--miscelanious-glow);
    color: black;
}

#all-button {
    background-color: var(--all);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#all-button:hover {
    background-color: var(--all-glow);
    box-shadow: 0 0 0.5rem var(--all-glow);
    color: black;
}

.todos-wrap {
    min-height: 20rem;
    width: auto;
}

.work-todo {
    background-color: var(--work);
}

.soft-work{
    background-color: var(--work-soft);
}

.softer-work{
    background-color: var(--work-softer);
}

.study-todo {
    background-color: var(--study);
}

.soft-study{
    background-color: var(--study-soft);
}

.softer-study{
    background-color: var(--study-softer);
}

.personal-todo {
    background-color: var(--personal);
}

.soft-personal{
    background-color: var(--personal-soft);
}

.softer-personal{
    background-color: var(--personal-softer);
}

.miscelanious-todo {
    background-color: var(--miscelanious);
}

.soft-miscelanious{
    background-color: var(--miscelanious-soft);
}

.softer-miscelanious{
    background-color: var(--miscelanious-softer);
}

.todo {
    min-height: 20rem;
    margin-bottom: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.todo-wrap-a {
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
}

.todo-wrap-b {
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

@media (max-width:768px) {
    .todo {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 1rem;
        min-height: 30rem;
    }
}

.todo-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    text-align: center;
}

.dueDate {
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    text-align: center;
}

.todo-dueDate-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo, .title-container, .contain-container, .todo-dueDate-container, .todo-button-container {
    border-radius: 0.8rem;
}