@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --gray4 : #D0A2F7;
    --gray3 : #DCBFFF;
    --gray2 : #E5D4FF;
    --gray1 : #F1EAFF;

    --work-soft: #4bfa9d;
    --work: #37E2D5;
    --work-glow: #00ffea;
    --study-soft: #9f4bdb;
    --study: #590696;
    --study-glow: #c400ff;
    --personal-soft: #fa55bc;
    --personal: #C70A80;
    --personal-glow: #ff00e6;
    --miscelanious-soft: #edcc4a;
    --miscelanious: #bd9702;
    --miscelanious-glow: #ffea00;
    --all: #a2a2a2;
    --all-glow: #e2e2e2;

    --confirm: #19ab09;
    --confirm-glow: #00ff00;
    --eliminate: #ab0909;
    --eliminate-glow: #ff0000;
    --edit: #d6760f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 0.5rem;
}

input {
    outline: none;
    border: none;
    background: none;
    width: 14rem;
}

body {
    background-color: var(--gray3);
}

.greetings {
    /* background-color: red; */
    background-color: var(--gray4);
    padding: 3rem 3rem 0.8rem 3rem;
    display: flex;
    justify-content: space-between;
}

.create-todo {
    /* background-color: green; */
    height: 70vh;
    padding: 0rem 3rem;
}

.input-container {
    /* background-color: yellow; */
    background-color: var(--gray1);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1vh;
}

.question {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.options {
    /* background-color: cadetblue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: auto;
    margin-top: 1.2rem;
    width: auto;
}


.option {
    /* background-color: blueviolet; */
    background-color: var(--gray1);
    margin: 0.5rem;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1rem;
}

.option input,label {
    display: block;
    margin-top: 0.5rem;
}

.todo-list {
    /* background-color: brown; */
    height: min-content;
    padding: 1rem 3rem;
}

.button-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.logout, .delete{
    background-color: var(--eliminate);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.logout:hover, .delete:hover{
    background-color: var(--eliminate-glow);
    box-shadow: 0 0 0.5rem var(--eliminate-glow);
    scale: 1.1;
}

.check{
    background-color: var(--confirm);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.check:hover{
    background-color: var(--confirm-glow);
    box-shadow: 0 0 0.5rem var(--confirm-glow);
    scale: 1.1;
}

#work-button {
    background-color: var(--work);
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#work-button:hover {
    background-color: var(--work-glow);
    box-shadow: 0 0 0.5rem var(--work-glow);
}

#study-button {
    background-color: var(--study);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#study-button:hover {
    background-color: var(--study-glow);
    box-shadow: 0 0 0.5rem var(--study-glow);
}

#personal-button {
    background-color: var(--personal);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#personal-button:hover {
    background-color: var(--personal-glow);
    box-shadow: 0 0 0.5rem var(--personal-glow);
}

#miscelanious-button {
    background-color: var(--miscelanious);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#miscelanious-button:hover {
    background-color: var(--miscelanious-glow);
    box-shadow: 0 0 0.5rem var(--miscelanious-glow);
    color: black;
}

#all-button {
    background-color: var(--all);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#all-button:hover {
    background-color: var(--all-glow);
    box-shadow: 0 0 0.5rem var(--all-glow);
    color: black;
}

.todo {
    height: 8rem;
    margin-bottom: 2rem;
    border-radius: 0.2rem;
}

.work-todo {
    background-color: var(--work);
}

.study-todo {
    background-color: var(--study);
}

.personal-todo {
    background-color: var(--personal);
}

.miscelanious-todo {
    background-color: var(--miscelanious);
}